body {
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	text-align: center;
	
}
.container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}

header {
	z-index: 1;
	height: 69px;
	width: 100%;
	border-bottom: 1px solid seashell;
	align-items: center;
	position: fixed;
	background-color: black;
	
}

.image-logo {
	padding-bottom: 20px;
	height: 50px;
	padding-left: 10px;
	padding-top: 15px;
}

nav {
	flex-grow: 1;
	text-align: right;
}

nav p {
	display: inline-block;
	padding-bottom: 10px;
	padding-right: 35px;
}

nav a {
	color: seashell;
}

.mission-section {
	background-image: url(Images/background.jpg);
	height: 700px;
	padding-top: 69px;
	padding-bottom: 30px;
	
}

.sub-mission-section {
	width: 100%;
	margin: auto;
	background-color: black;
	
}
.tea-of-the-month {
	width: 1000px;
	height: 600px;
	margin: auto;
	padding-top: 69px;
	padding-bottom: 300px;
}
.tea-container-box {
   padding: 5px;
}
.tea-container-box img {
	height: 200px;
	width: 300px;
	margin: 10px;
	

}
.locations {
	background-image: url(Images/location.jpg);
	height: 500px;
	padding-top: 69px;
	
	
}


.location-container-box {
	opacity: 1.0;
	padding-bottom: 10px;
	padding-right: 40px;
	background-color: black;
	width: 300px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center
	

}
.contact-container-section {
  height: 200px;
}
.footer-container-section {
  text-align: left;
  padding-left: 20px;
}









